[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "*"
redis = "*"
qiniu = "*"
aiomysql = "*"
pyjwt = "*"
wtforms = "*"
peewee-async = "*"
wtforms-json = "*"
bcrypt = "*"
cryptography = "*"
peewee = "==3.7.1"
pip = "==18.0"
aioredis = "*"

[dev-packages]

[requires]
python_version = "3.6"
